<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d6610d9-d61f-4ee9-80bd-4e8db47ac228/resourcegroups/facetious-nocturn20230604191931ResourceGroup/providers/Microsoft.Web/sites/facetious-nocturn20230604191931</ResourceId>
    <ResourceGroup>facetious-nocturn20230604191931ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/9d6610d9-d61f-4ee9-80bd-4e8db47ac228/resourceGroups/facetious-nocturn20230604191931ResourceGroup/providers/Microsoft.ApiManagement/service/facetious-nocturnapi/apis/facetious-nocturn</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://facetious-nocturn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>036eabfe-4870-4a88-a68d-7c928e81634b</ProjectGuid>
    <MSDeployServiceURL>facetious-nocturn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>facetious-nocturn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$facetious-nocturn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>